<configuration>
  <appSettings>
    <add key="PassPhrase" value="iop"/>
    <add key="SaltValue" value="jkl"/>
    <add key="HashAlgorithm" value="SHA256"/>
    <add key="PassIterations" value="1"/>
    <add key="InitVector" value="!1A3g2D4s9K556g7"/>
    <add key="Key" value="128" />
  </appSettings>
</configuration>